In [121]:
import pandas as pd

In [122]:
datasets = pd.read_csv('data/VOO_processed.csv')
datasets.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,RSI,MACD,Signal,SMA_5,SMA_20,SMA_60,SMA_120
0,0,2010-09-09,102.500000,102.500000,101.139999,101.320000,78.490952,26500,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
1,1,2010-09-10,101.680000,101.860001,101.300003,101.779999,78.847305,8600,NaN,0.010320,0.005734,NaN,NaN,NaN,NaN
2,2,2010-09-13,102.959999,103.139999,102.500000,103.059998,79.838921,33750,NaN,0.052843,0.025041,NaN,NaN,NaN,NaN
3,3,2010-09-14,102.839996,103.480003,102.379997,103.040001,79.823387,59400,NaN,0.070166,0.040327,NaN,NaN,NaN,NaN
4,4,2010-09-15,102.620003,103.379997,102.400002,103.300003,80.024826,9250,NaN,0.088448,0.054642,102.5,NaN,NaN,NaN

In [123]:
datasets = datasets[120:]
datasets.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,RSI,MACD,Signal,SMA_5,SMA_20,SMA_60,SMA_120
120,120,2011-03-02,119.620003,120.559998,119.500000,120.040001,93.926117,176350,45.420586,0.631051,0.998049,120.467999,120.979999,117.596333,112.540167
121,121,2011-03-03,121.080002,122.239998,121.080002,122.099998,95.537979,136450,51.333331,0.694046,0.937249,120.935999,121.117999,117.761333,112.709500
122,122,2011-03-04,122.059998,122.059998,120.400002,121.199997,94.833794,168250,46.507919,0.663701,0.882539,120.963998,121.195999,117.910667,112.860667
123,123,2011-03-07,121.599998,121.739998,119.599998,120.139999,94.004372,155200,44.326778,0.547811,0.815593,120.635999,121.204999,118.034667,113.003167
124,124,2011-03-08,120.419998,121.620003,119.959999,121.260002,94.880722,106350,45.722730,0.540110,0.760497,120.948000,121.231999,118.170333,113.152833

In [124]:
datasets.columns

Index(['Unnamed: 0', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close',
       'Volume', 'RSI', 'MACD', 'Signal', 'SMA_5', 'SMA_20', 'SMA_60',
       'SMA_120'],
      dtype='object')

In [125]:
datasets.dtypes

Unnamed: 0      int64
Date           object
Open          float64
High          float64
Low           float64
Close         float64
Adj Close     float64
Volume          int64
RSI           float64
MACD          float64
Signal        float64
SMA_5         float64
SMA_20        float64
SMA_60        float64
SMA_120       float64
dtype: object

In [126]:
datasets.shape

(3301, 15)

In [127]:
datasets.isnull().sum()

Unnamed: 0    0
Date          0
Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
RSI           0
MACD          0
Signal        0
SMA_5         0
SMA_20        0
SMA_60        0
SMA_120       0
dtype: int64

In [128]:
#60, 20, 20
n_train = int(0.6 * len(datasets))
n_test = int((len(datasets) - n_train) / 2) 
n_validation = int((len(datasets) - n_train) / 2)

datasets = datasets.drop('Date', axis=1)
datasets = datasets.drop('Unnamed: 0',axis =1)

train_data = datasets[:n_train]
test_data = datasets[n_train:n_train + n_test]
val_data = datasets[n_train + n_test:]

datasets.head()

,Open,High,Low,Close,Adj Close,Volume,RSI,MACD,Signal,SMA_5,SMA_20,SMA_60,SMA_120
120,119.620003,120.559998,119.500000,120.040001,93.926117,176350,45.420586,0.631051,0.998049,120.467999,120.979999,117.596333,112.540167
121,121.080002,122.239998,121.080002,122.099998,95.537979,136450,51.333331,0.694046,0.937249,120.935999,121.117999,117.761333,112.709500
122,122.059998,122.059998,120.400002,121.199997,94.833794,168250,46.507919,0.663701,0.882539,120.963998,121.195999,117.910667,112.860667
123,121.599998,121.739998,119.599998,120.139999,94.004372,155200,44.326778,0.547811,0.815593,120.635999,121.204999,118.034667,113.003167
124,120.419998,121.620003,119.959999,121.260002,94.880722,106350,45.722730,0.540110,0.760497,120.948000,121.231999,118.170333,113.152833

In [129]:
print(train_data.shape)
print(val_data.shape)
print(val_data.shape)

(1980, 13)
(661, 13)
(661, 13)

In [130]:
train_y, train_x = train_data['Close'], train_data
val_y, val_x = val_data['Close'], val_data
test_y, test_x = val_data['Close'], test_data

In [131]:
train_y.head()

120    120.040001
121    122.099998
122    121.199997
123    120.139999
124    121.260002
Name: Close, dtype: float64

In [133]:
from models.rnn import RNN

rnn = RNN(timesteps=5, input_d = train_data.shape[1])
rnn.train(train_x, train_y)

Unexpected exception formatting exception. Falling back to standard exception

/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/sb/4wckybv97dl1hsflchpbj4080000gn/T/ipykernel_83011/1145827233.py", line 4, in <module>
    rnn.train(train_x, train_y)
  File "/Users/jiwon_hae/PycharmProjects/USC/Spring2024/CSCI567_Machine_Learning/group_project/567_project/models/rnn.py", line 24, in train
    x_seq, y_seq = [], []
  File "/opt/anaconda3/lib/python3.11/site-packages/keras/src/utils/traceback_utils.py", line 122, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/opt/anaconda3/lib/python3.11/site-packages/keras/src/trainers/data_adapters/data_adapter_utils.py", line 103, in <genexpr>
    num_samples = set(int(i.shape[0]) for i in tree.flatten(data))
                          ~~~~~~~^^^
IndexError: tuple index out of range

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0